<style>
        body {
            font-family: Montserrat;
            color: #5f4e3e;
            weight: 100;
            margin: 0;
            padding: 0;
            background-color: #f9f8eb;
        }
.navigation {
  display: flex;
  justify-content: center;
  background-color: #336699;
  padding: 10px 0;
}

.navigation a {
  padding: 10px 20px;
  margin: 0 10px;
  transition: background-color 0.3s ease;
}

.navigation a:hover {
  background-color: yellow;
}

        .container {
            max-width: 800px;
            margin: 20px auto;
            padding: 20px;
            background-color: #f9f8eb;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h1 {
        	font-family: Montserrat;
            text-align: center;
            weight: 500;
            color: #4b3826;
        }

        h2 {
        	font-family: Montserrat;
        	weight: 100;
            color: #736457;
            font-size: 100%; 
        }

        h3 {
        	font-family: Montserrat;
        	weight: 400;
            color: sandybrown;
            font-size: 1.2rem; 
        }

        ol {
            list-style-type: none;
            padding: 0;
        }

        li {
            margin-bottom: 20px;
            border-bottom: 1px solid #ccc;
            padding-bottom: 20px;
            display: flex; 
            align-items: center; 
        }

        img {
            max-width: 120px; 
            height: auto;
            margin-right: 20px; 
        }
 
		.footer-links {
		    text-align: center;
		    margin-top: 20px;
		    flex-direction: column;
        align-items: center;
		}

		.footer-link {
		    display: inline-flex; 
		    margin: 0 10px;
		    flex-direction: column;
        align-items: center;
		}

		.box {
		    background-color: #f9f8eb;
		    border: 2px solid #5f4e3e;
		    border-radius: 5px;
		    padding: 10px;
		}

        .book-info {
            flex: 1; 
        }

		.navigation-boxes {
		    display: flex;
		    justify-content: space-between;
		    padding: 20px;
		    background-color: #f9f8eb;
		}

		.navigation-box {
		    flex: 1;
		    margin-right: 10px;
		    text-align: center;
		    background-color: #ccc;
		    border-radius: 5px;
		}

		.navigation-box p {
		    margin: 0;
		    padding: 10px;
		}

    	@media only screen and (max-width: 600px) {
        .navigation-boxes {
            flex-direction: column;
            align-items: center;
        }

		@media only screen and (max-width: 555px) {
		    .footer-link {
		        display: block;
		        margin: 10px auto;
		    }
		}

		@media only screen and (min-width: 556px) and (max-width: 800px) {
		    .footer-link {
		        display: inline-block;
		        margin: 0 10px;
		    }
		}

		    .navigation-boxes {
		        flex-direction: column;
		        align-items: center;
		    }

		    .navigation-box {
		        margin: 10px 0;
		    }
		}
    </style>